<div ng-init="searchText=''">
    <div class="padding">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
    </div>
    <div ng-show="searchText==''">
        <div class="list" ng-show="viewModel.subjektyZOblibenychSpisu.length">
            <div class="item item-divider">Subjekty z oblíbených spisů</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjektyZOblibenychSpisu" ng-include="'subjekt_template.html'">
            </div>
        </div>
    </div>
    <div ng-show="searchText != ''">
        <div class="list">
            <div class="item item-divider">Hledání: {{filterText}}</div>
            <div ng-show="filterText == searchText" ng-repeat="subjekt in viewModel.vsechnySubjekty | PrehledSubjektuFilter : filterText">
                <div class="item">
                    <a class="button button-clear button-dark button-praetor-flow-right-contact" ng-href="tel:{{subjekt.primarniTelefon}}" ng-show="subjekt.primarniTelefon"><i class="icon ion-ios-telephone"></i></a>
                    <a class="button button-clear button-dark button-praetor-flow-right-contact" ng-href="mailto:{{subjekt.primarniEmail}}" ng-show="subjekt.primarniEmail"><i class="icon ion-ios-email"></i></a>

                    <ng-switch on="subjekt.loading">
                        <h2 ng-switch-when="true">Načítám…</h2>
                        <h2 ng-switch-default ng-bind-html="(subjekt.oznaceni ? subjekt.oznaceni : '') | HighLightFilter:searchText"></h2>
                    </ng-switch>
                </div>
            </div>
            <div ng-show="filterText != searchText" class="empty-list-description">
                Vyhledávám…
            </div>
            <div ng-show="!(viewModel.vsechnySubjekty | PrehledSubjektuFilter : filterText).length && filterText == searchText && searchText != ''" class="empty-list-description">
                Žádné subjekty nebyly nalezeny.
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="subjekt_template.html">
    <a class="button button-clear button-dark button-praetor-flow-right-contact" ng-href="tel:{{subjekt.primarniTelefon}}" ng-show="subjekt.primarniTelefon"><i class="icon ion-ios-telephone"></i></a>
    <a class="button button-clear button-dark button-praetor-flow-right-contact" ng-href="mailto:{{subjekt.primarniEmail}}" ng-show="subjekt.primarniEmail"><i class="icon ion-ios-email"></i></a>

    <h2>{{subjekt.oznaceni}}</h2>
</script>