<div ng-init="searchText=''">
    <div class="padding">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
    </div>
    <div ng-show="searchText==''" class="ng-hide">
        <div class="list" ng-show="viewModel.oblibeneSpisy.length + viewModel.posledniSpisy.length">
            <div class="item item-divider" ng-show="viewModel.oblibeneSpisy.length">Oblíbené spisy</div>
            <div ng-repeat="spis in viewModel.oblibeneSpisy" ng-include="'spis_template.html'"></div>

            <div class="item item-divider" ng-show="viewModel.posledniSpisy.length">Nedávno otevřené spisy</div>
            <div ng-repeat="spis in viewModel.posledniSpisy" ng-include="'spis_template.html'"></div>
        </div>
    </div>
    <div ng-show="searchText != ''">
        <div class="list">
            <div class="item item-divider">Hledání: {{filterText}}</div>
            <div ng-show="filterText == searchText" ng-repeat="spis in viewModel.vsechnySpisy | PrehledSpisuFilter : filterText">
                <a class="item item-icon-right" ng-click="onSpisClick({spis:spis})">
                    <i class="icon ion-ios-star icon-oblibeny" ng-show="spis.jeOblibeny"></i>
                    <h2 ng-bind-html="spis.spisovaZnacka + ' ' + spis.predmet | HighLightFilter:searchText"></h2>
                    <!--<h2 ng-bind-html="spis.spisovaZnacka + ' ' + spis.predmet"></h2>-->
                    <div ng-switch="spis.loading">
                        <p ng-switch-when="true">Načítám…</p>
                        <!--<p ng-switch-default ng-bind-html="spis.hlavniKlient"></p>-->
                        <p ng-switch-default ng-bind-html="(spis.hlavniKlient ? spis.hlavniKlient : '') + (spis.protistrana ? ' vs. ' + spis.protistrana : '') | HighLightFilter:searchText"></p>
                    </div>
                </a>
            </div>
            <div ng-show="filterText != searchText" class="empty-list-description ng-hide">
                Vyhledávám…
            </div>
            <div ng-show="!(viewModel.vsechnySpisy | PrehledSpisuFilter : filterText).length && filterText == searchText && searchText != ''" class="empty-list-description ng-hide">
                Žádné spisy nebyly nalezeny.
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="spis_template.html">
    <a class="item item-icon-right" ng-click="onSpisClick({spis:spis})">
        <i class="icon ion-ios-star icon-oblibeny" ng-show="spis.jeOblibeny"></i>
        <h2>{{spis.spisovaZnacka}} {{spis.predmet}}</h2>
        <div ng-switch="spis.loading">
            <p ng-switch-when="true">Načítám…</p>
            <p ng-switch-default>{{spis.hlavniKlient}}{{spis.protistrana ? " vs. " + spis.protistrana : ""}}</p>
        </div>
    </a>
</script>