<div ng-init="searchText=''">    
    <div class="padding">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
    </div>
    <div ng-show="searchText==''">
        <div class="list" ng-show="viewModel.posledniSpisy.length">
            <div class="item item-divider">Oblíbené spisy</div>
            <div ng-repeat="spis in viewModel.posledniSpisy">
                <a class="item" ng-click="onSpisClick({spis:spis})">
                    <h2>{{spis.spisovaZnacka}} {{spis.predmet}}</h2>
                    <div ng-switch="spis.loading">
                        <p ng-switch-when="true">Načítám…</p>
                        <p ng-switch-default>{{spis.hlavniKlient}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="list" ng-show="viewModel.posledniSpisy.length">
            <div class="item item-divider">Nedávno otevřené spisy</div>
            <div ng-repeat="spis in viewModel.posledniSpisy">
                <a class="item" ng-click="onSpisClick({spis:spis})">
                    <h2>{{spis.spisovaZnacka}} {{spis.predmet}}</h2>
                    <div ng-switch="spis.loading">
                        <p ng-switch-when="true">Načítám…</p>
                        <p ng-switch-default>{{spis.hlavniKlient}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div ng-show="searchText != ''">
        <div class="list">
            <div class="item item-divider">Hledání: {{filterText}}</div>
            <div ng-repeat="spis in viewModel.vsechnySpisy | PrehledSpisuFilter : filterText">
                <a class="item" ng-click="onSpisClick({spis:spis})">
                    <h2 ng-bind-html="spis.spisovaZnacka + ' ' + spis.predmet | HighLightFilter:searchText"></h2>
                    <!--<h2 ng-bind-html="spis.spisovaZnacka + ' ' + spis.predmet"></h2>-->
                    <div ng-switch="spis.loading">
                        <p ng-switch-when="true">Načítám…</p>
                        <!--<p ng-switch-default ng-bind-html="spis.hlavniKlient"></p>-->
                        <p ng-switch-default ng-bind-html="spis.hlavniKlient | HighLightFilter:searchText"></p>
                    </div>
                </a>
            </div>
            <div ng-show="filterText != searchText" class="empty-list-description">
                Vyhledávám…
            </div>
            <div ng-show="!(viewModel.vsechnySpisy | PrehledSpisuFilter : filterText).length && filterText == searchText && searchText != ''" class="empty-list-description">
                Žádné spisy nebyly nalezeny.
            </div>
        </div>
    </div>
</div>