.tabs-positive > .tabs, .tabs.tabs-positive, .bar.bar-positive, .bar-positive .button {
    border-color: #1d2939;
    background-color: #1d2939;
    color: #fff;
}

.bar-positive .button i
{
    font-size:30px;
}


    .bar.bar-stable .title {
        color: #fff;
    }
