.tabs-positive > .tabs, .tabs.tabs-positive, .bar.bar-positive, .bar-positive .button {
    border-color: #1d2939;
    background-color: #1d2939;
    color: #fff;
}

   .bar-positive .button i {
        font-size: 30px;
        background-color: transparent;
        border-color: transparent;
    }

.bar.bar-stable .title {
    color: #fff;
}

.praetor-back-button {
    background-color: #d9534f;
    width: 40px;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
}

    .praetor-back-button i {
        font-size: 25px;
        margin: 0 auto;
        padding-left: 13px;
    }
.spis-detail-table .header {
    margin-left:5px;
}

.item-divider .button {
    top: 6px;
    padding: 0 7px;
    min-width: 24px;
    min-height: 24px;
}

.dir .item-icon-left {
    padding-left: 70px;
}

.dir .item-icon-left .icon {
    left: 30px;
}

.dir .dir .item-icon-left {
    padding-left: 90px;
}

.dir .dir .item-icon-left .icon {
    left: 50px;
}

.dir .dir .dir .item-icon-left {
    padding-left: 110px;
}

.dir .dir .dir .item-icon-left .icon {
    left: 70px;
}

.dir-entry>a>.icon-wrapper.closed {
    display: none;
}

.dir-entry>a>.icon-wrapper.opened {
    display: block;
}

.dir-entry.closed>a>.icon-wrapper.closed {
    display: block;
}

.dir-entry.closed>a>.icon-wrapper.opened {
    display: none;
}

.dir-entry.closed>.dir {
    display: none;
}

.dir-entry>a.empty {
    opacity: 0.5;
}

.custom-icon {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
}

.custom-icon-word {
    background-image: url('../images/file-icons/word.png');
}

.custom-icon-excel {
    background-image: url('../images/file-icons/excel.png');
}

.custom-icon-pdf {
    background-image: url('../images/file-icons/pdf.png');
}

.icon-oblibeny {
    color: #FEC73C;
}

.right-float-overlay {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 10px;
    background-color: white;
}

.right-float-overlay-support {
    position: relative;
}

.item.activated .right-float-overlay {
    background-color: #D9D9D9;
}

.button-right-float {
    float: right !important;
    position: static !important;
    line-height: inherit !important;
}

.right-float {
    float: right !important;
    margin-left: 10px !important;
}

.animated-icon {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.highlight {
    background-color: yellow;    
}

.empty-list-description {
    margin: 10px;
    font-style: italic;
    color: #404040;
    text-align: center;
}