
<ion-view>
    <ion-content has-bouncing="false" style="background:#2794D6;" class="padding">

        <div class="spacer" style="height: 100px;">
            {{message}}
        </div>
        <div class="padding">
            <form>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Server" ng-model="viewModel.server">
                    </label>
                </div>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Uživatelské jméno" ng-model="viewModel.username">
                    </label>
                </div>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="password" placeholder="Heslo" ng-model="viewModel.password">
                    </label>
                </div>

                <input type="submit" class="button button-block button-outline button-light" ng-click="controller.login()" value="Přihlásit" />
            </form>
        </div>
        
    </ion-content>
</ion-view>