<ion-view title="Spis {{viewModel.spis.spisovaZnacka}}">

    <ion-content has-bouncing="false">

        <div class="list" ng-show="viewModel.subjektyInitialized">
            <div class="item item-divider" ng-show="(viewModel.subjekty | filter: { role : 'Klient' }).length">Klient</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Klient' }" ng-include="'subjekt_template.html'"></div>
            <div class="item item-divider"  ng-show="(viewModel.subjekty | filter: { role : 'Protistrana' }).length">Protistrana</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Protistrana' }" ng-include="'subjekt_template.html'"></div>
            <div class="item item-divider"  ng-show="(viewModel.subjekty | filter: { role : 'Rozhodující orgán' }).length">Rozhodující orgán</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Rozhodující orgán' }" ng-include="'subjekt_template.html'"></div>
            <div class="item item-divider" ng-show="(viewModel.subjekty | filter: { role : 'Zúčastněný subjekt' }).length">Zúčastněný subjekt</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Zúčastněný subjekt' }" ng-include="'subjekt_template.html'"></div>
        </div>
        <div ng-show="viewModel.subjektyInitialized && viewModel.subjekty.length == 0" class="empty-list-description">
            Spis neobsahuje žádné subjekty
        </div>
        <div ng-show="!viewModel.subjektyInitialized" class="empty-list-description">
            Načítám…
        </div>

</ion-content>
</ion-view>

<style>
    .button-list-flow-right
    {
        float: right;
        margin: -10px 0
    }

</style>

<script type="text/ng-template" id="subjekt_template.html">
    <a class="button button-clear button-list-flow-right" ng-href="tel:{{subjekt.primarniTelefon}}" ng-show="subjekt.primarniTelefon"><i class="icon ion-ios-telephone"></i></a>
    <a class="button button-clear button-list-flow-right" ng-href="mailto:{{subjekt.primarniEmail}}" ng-show="subjekt.primarniEmail"><i class="icon ion-ios-email"></i></a>

    <h2>{{subjekt.oznaceni}} </h2>
    <p>{{subjekt.procesniRole}} {{subjekt.hmotnepravniRole}}</p>
</script>