<ion-view title="Spis {{viewModel.spis.spisovaZnacka}}">
    <ion-content has-bouncing="false">
        <div class="padding">
            <h3 >{{viewModel.spis.predmet}}</h3>
            <style>
                table.keyvaluetable th { text-align: left; white-space: nowrap; font-weight: bold; padding-right: 3px }
            </style>
            <table class="keyvaluetable">
                <tr>
                    <th>Stav</th>
                    <td>{{viewModel.spis.stav}}<span ng-show="viewModel.spis.procesniStav"> / {{viewModel.spis.procesniStav}}</span></td>
                </tr>
                <tr>
                    <th ng-show="viewModel.spis.procesniStav">Procesní stav</th>
                    <td>{{viewModel.spis.procesniStav}}</td>
                </tr>
                <tr ng-show="viewModel.spis.zpracovatel">
                    <th>Zpracovatel</th>
                    <td>{{viewModel.spis.zpracovatel}}</td>
                </tr>
                <!--<tr ng-show="viewModel.spis.odpovednyAdvokat">
                    <th>Odpovědný advokát</th>
                    <td>{{viewModel.spis.odpovednyAdvokat}}</td>
                </tr>-->
                <tr ng-show="viewModel.spis.poznamka">
                    <th>Poznámka</th>
                    <td>{{viewModel.spis.poznamka}}</td>
                </tr>
            </table>

            <button class="button button-balanced icon-left ion-ios-clock-outline button-block">
                Zapsat činnost
            </button>
        </div>
        <div class="list">
            <div class="item item-divider" ng-show="(viewModel.subjekty | filter: { role : 'Klient' }).length">Klient</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Klient' }" ng-include="'subjekt_template.html'" ></div>
            <div class="item item-divider"  ng-show="(viewModel.subjekty | filter: { role : 'Protistrana' }).length">Protistrana</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Protistrana' }" ng-include="'subjekt_template.html'"></div>
            <div class="item item-divider"  ng-show="(viewModel.subjekty | filter: { role : 'Rozhodující orgán' }).length">Rozhodující orgán</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Rozhodující orgán' }" ng-include="'subjekt_template.html'"></div>
            <div class="item item-divider" ng-show="(viewModel.subjekty | filter: { role : 'Zúčastněný subjekt' }).length">Zúčastněný subjekt</div>
            <div class="item" ng-repeat="subjekt in viewModel.subjekty | filter: { role : 'Zúčastněný subjekt' }" ng-include="'subjekt_template.html'"></div>
        </div>

</ion-content>
</ion-view>

<script type="text/ng-template" id="subjekt_template.html">
    <button style="float:right" class="button button-clear" ng-href="tel:{{subjekt.primarniTelefon}}" ng-show="subjekt.primarniTelefon"><i class="icon ion-ios-telephone"></i></button>
    <button style="float:right" class="button button-clear" ng-href="mailto:{{subjekt.primarniEmail}}" ng-show="subjekt.primarniEmail"><i class="icon ion-ios-email"></i></button>

    <h2>{{subjekt.oznaceni}} </h2>
    <p>{{subjekt.procesniRole}} {{subjekt.hmotnepravniRole}}</p>
</script>