<ion-view title="Spis {{viewModel.spis.spisovaZnacka}}">
    <ion-content has-bouncing="false">
        <div class="padding" ng-show="viewModel.spisInitialized">
            <h3 >{{viewModel.spis.predmet}}</h3>
            <style>
                table.keyvaluetable th { text-align: left; white-space: nowrap; font-weight: bold; padding-right: 3px }
            </style>
            <table class="keyvaluetable">
                <tr>
                    <th>Stav</th>
                    <td>{{viewModel.spis.stav}}</td>
                </tr>
                <tr>
                    <th ng-show="viewModel.spis.procesniStav">Procesní stav</th>
                    <td>{{viewModel.spis.procesniStav}}</td>
                </tr>
                <tr ng-show="viewModel.spis.zpracovatel">
                    <th>Zpracovatel</th>
                    <td>{{viewModel.spis.zpracovatel}}</td>
                </tr>
                <!--<tr ng-show="viewModel.spis.odpovednyAdvokat">
                    <th>Odpovědný advokát</th>
                    <td>{{viewModel.spis.odpovednyAdvokat}}</td>
                </tr>-->
                <tr ng-show="viewModel.spis.poznamka">
                    <th>Poznámka</th>
                    <td>{{viewModel.spis.poznamka}}</td>
                </tr>
            </table>

            <button class="button button-dark button-praetor icon-left ion-ios-clock-outline button-block" ng-click="controller.CreateCinnost()">
                Zapsat činnost
            </button>
        </div>
        <div ng-show="!viewModel.spisInitialized" class="empty-list-description">
            Načítám…
        </div>

</ion-content>
</ion-view>
