<ion-view title="Praetor">
    <ion-content>
        {{message}}
        <form class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Server" ng-model="viewModel.server">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Uživatelské jméno" ng-model="viewModel.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Heslo" ng-model="viewModel.password">
            </label>
        </form>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="controller.login()">Přihlásit</button>
        </div>
    </ion-content>
</ion-view>