<ion-view title="Praetor">
    <ion-nav-bar class="bar-positive nav-title-slide-ios pr-black" align-title="center">
    </ion-nav-bar>

    <ion-content has-bouncing="false">
        <div class="spacer" style="height: 100px;"></div>
        <div style="padding-left:20px;padding-right:20px;">
            <button class="button button-balanced icon-left ion-log-out button-block" ng-click="controller.logout()">
                Odhlásit
            </button>
        </div>
    </ion-content>
</ion-view>

