<ion-view title="Praetor">
    <ion-nav-bar class="bar-dark bar-praetor nav-title-slide-ios" align-title="center">
        <ion-nav-buttons side="right">
            <button class="button" ng-click="controller.reloadData()" ng-show="showLoadingButton">
                <i class="icon ion-ios-loop" ng-class="{'animated-icon': isLoading}"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false">
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Uživatel</span>
                    <span>{{viewModel.UserName}}</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">ID</span>
                    <span>{{viewModel.UserLogin}}</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">Server</span>
                    <span>{{viewModel.ServerName}} ({{viewModel.ServerVersion}})</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">Adresa</span>
                    <span>{{viewModel.ServerUrl}}</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">Verze</span>
                    <span>{{viewModel.ApplicationVersion}}</span>
                </label>

                <div class="row">
                    <div class="col">
                        <button class="button button-dark button-praetor icon-left ion-log-out button-block" ng-click="controller.logout()">
                            Odhlásit
                        </button>
                    </div>
                </div>
            </form>
    </ion-content>
</ion-view>

