<ion-view title="Praetor" hide-back-button="true">
    <ion-content has-bouncing="false">
        vykazování
        <button class="button button-balanced" ng-click="controller.test('http://jasnet.pl/static/ads/ogloszenia/1a7453de.docx')">open docx</button>

        <button class="button button-balanced" ng-click="controller.test('http://www.urartuuniversity.com/content_images/pdf-sample.pdf')">open pdf</button>

    <button class="button button-balanced" ng-click="controller.CreateTimeSheet()">
        Vytvořit činnost
    </button>

    </ion-content>
</ion-view>

