<ion-view title="Praetor" hide-back-button="true">
  
  <ion-content ng-init="searchText=''">
   
<div class="padding">   
<!--div class="button-bar bar-positive">
  <a class="button" ng-click="tab=1">Oblíbené</a>
  <a class="button" ng-click="tab=2">Vyhledat</a>
  <a class="button" ng-click="tab=3">Poslední otevřené</a>
</div-->
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search" ng-model="searchText">
</label>
</div>

<div ng-show="searchText==''">
<div class="list">

  <div class="item item-divider">Nedávno otevřené spisy</div>
  <div ng-repeat="recentItem in recentItems">
  <a class="item" ng-click="openSpis(recentItem)">
    <h2>{{recentItem.title}}</h2>
    <div ng-switch="recentItem.loading">
      <p ng-switch-when="true">Loading...</p>
      <p ng-switch-default>{{recentItem.subtitle}}</p>
    </div>
  </a>
  </div>

  <!--div class="item item-divider">Oblíbené spisy</div>
  <a class="item" ng-click="openSpis()">
    <h2>121/2013 - Prodej nemovitosti</h2>
    <p>M.M Reality, Bohdan Maslowski </p>
  </a>
  <a class="item" ng-click="openSpis()">134/2012 - test</a>
  <a class="item" ng-click="openSpis()">134/2012 - spis 3</a-->

  
</div>
</div>

<div ng-show="searchText!=''">
<div class="list">
  <div class="item item-divider">Hledání: {{searchText}}</div>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
    <a class="item">Výsledek 1</a>
    <a class="item">Výsledek 2</a>
    <a class="item">Výsledek 3</a>
  </div>
</div>

  </ion-content>
</ion-view>
