<ion-view title="Praetor">

  <ion-content class="has-header">
   
    
<!--div class="button-bar bar-positive">
  <a class="button">First</a>
  <a class="button">Second</a>
  <a class="button">Third</a>
</div>

<div class="padding">
  <h1>Vítejte</h1>
</div>-->
<img src="img/praetor.png" width="80%" style="display:block;margin: 2em auto"/>
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Server">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Uživatelské jméno" ng-model="username">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Heslo">
  </label>
</div>
<div class="padding">
<button class="button button-block button-positive" ng-click="login()">Přihlásit</button>
</div>

  </ion-content>
</ion-view>
