<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive">
 <ion-nav-back-button class="button-clear" ng-show="canGoBack"><i class="icon ion-ios7-arrow-back"></i> Zpět</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right" ng-controller="SideMenuCtrl">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Další akce</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/search">
          Odhlásit
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
