<ion-modal-view ng-controller="TimeSheetController">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Nová činnost</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Spis</span>
                <input disabled type="text" ng-model="viewModel.Data.spisOznaceni">
            </label>

            <label class="item item-input">
                <span class="input-label">Datum</span>
                <input type="date" ng-model="viewModel.Datum">
            </label>

            <div class="item range range-positive" style="padding-left:16px">
                Čas
                <input type="range" name="volume" min="0" max="240" step="15" ng-model="viewModel.Data.cas">
                {{viewModel.Data.cas}} min
            </div>

            <label class="item item-input item-select">
                <span class="input-label">
                    Aktivita
                </span>

                <select ng-model="viewModel.Aktivita" ng-options="aktivita.nazev for aktivita in viewModel.Aktivity" ng-change="controller.AktivitaChanged()"></select>
            </label>

            <label class="item item-input">
                <textarea ng-model="viewModel.Data.popis" placeholder="Popis" style="height:5em"></textarea>
            </label>

            <div class="row">
                <div class="col">
                    <input type="button" class="button button-block" ng-click="controller.Cancel()" value="Storno">
                </div>
                <div class="col">
                    <input type="submit" class="button button-block button-positive" ng-click="controller.SaveData()" value="Uložit">
                </div>
            </div>
        </form>
    </ion-content>
 </ion-modal-view>
