<ion-view title="Spis" ng-controller="SpisDocumentyCtrl">
    <ion-content>
        <div class="list">
            <!--div class="item">
              <div class="">
                <a class="button button-positive" ng-click="tab=1">Zapsat činnost</a>
                <a class="button button-positive" ng-click="tab=2">Zadat úkol</a>
              </div>
            </div-->
            <!--div class="item item-divider">Dokumenty</div-->
            <div ng-repeat="node in dokumenty" ng-include="'file_template.html'">
                <!--
                  <a class="item item-icon-left" ng-click="dir1=!dir1"><i class="icon ion-folder"></i>Plná moc</a>
                    <div ng-show="dir1" >
                      <a class="item" ng-click="openDocument('test2.docx', 'docx')">&nbsp;&nbsp;DOCX InAppBrowser</a>
                      <a class="item" ng-click="openDocument('test2.pdf', 'pdf')">&nbsp;&nbsp;PDF InAppBrowser</a>
                    </div>

                  <a class="item item-icon-left" ng-click="openDocument('test.docx', 'docx')"><i class="icon ion-document"></i>Zápis z jednání 18.6.2014.docx</a>
                  <a class="item item-icon-left" ng-click="openDocument('test.pdf', 'pdf')"><i class="icon ion-document"></i>Připomínky ke smlouvě.pdf</a>
                -->
            </div>
        </div>
    </ion-content>
</ion-view>
<script type="text/ng-template" id="file_template.html">
    <div ng-switch="node.mime || 'dir'">
        <div ng-switch-when="'dir'">
            <a class="item item-icon-left" onclick="this.nextElementSibling.style.display = (this.nextElementSibling.style.display == 'block') ? 'none' : 'block';"><i class="icon ion-folder"></i>{{node.nazev}}</a>
            <ul style='display:none' class="dir">
                <li ng-repeat="node in node.nodes" ng-include="'file_template.html'"></li>
            </ul>
        </div>
        <a ng-switch-default class="item item-icon-left" ng-click="openDokument(node)"><i class="icon ion-document"></i>{{node.nazev}}.{{node.pripona}}</a>
    </div>
</script>